<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytmzz.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ytmzz.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_status" jdbcType="CHAR" property="userStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_password, user_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ytmzz.pojo.User">
    insert into user (user_id, user_name, user_password,
      user_status)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ytmzz.pojo.User" useGeneratedKeys="true" keyProperty="userId">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytmzz.pojo.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytmzz.pojo.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <!-- 自定义 -->
  <resultMap id="referenceMap" type="com.ytmzz.pojo.User" extends="BaseResultMap">
    <collection property="roles" column="user_id" select="com.ytmzz.dao.RoleMapper.selectByUserId" fetchType="lazy"></collection>
  </resultMap>

  <select id="selectByPrimaryKeyWithOthers" resultMap="referenceMap">
    select * from user where user_id = #{userId}
  </select>

  <select id="selectByRoleId" resultMap="BaseResultMap">
    select * from user where user_id in (
        select user_id from user_role where role_id = #{roleId}
    )
  </select>

  <select id="checkUser" resultMap="BaseResultMap">
    select * from user
    <where>
      <if test="userName != null">
        and user_name = #{userName}
      </if>
      <if test="userPassword != null">
        and user_password = #{userPassword}
      </if>
      and user_status = '启用'
    </where>
  </select>

  <select id="selectAll" resultMap="referenceMap">
    select * from user
  </select>

  <sql id="userCondition">
    <where>
      <if test="conditionUserName != null and conditionUserName != ''">
        <bind name="conditionUserName" value="'%' + conditionUserName + '%'"></bind>
        and user_name like #{conditionUserName}
      </if>
      <if test="conditionUserStatus != null and conditionUserStatus != ''">
        and user_status = #{conditionUserStatus}
      </if>
    </where>
  </sql>

  <select id="selectByCondition" parameterType="UserCondition" resultMap="referenceMap">
    select * from user
    <include refid="userCondition" />
    order by user_id desc
  </select>

  <select id="getCountByCondition" parameterType="UserCondition" resultType="java.lang.Integer">
    select count(1) from user
    <include refid="userCondition" />
  </select>
</mapper>